#navbtn {
  background-color: #0f0f0f;
}
.invert {
  filter: invert(1);
}
#cardBg {
  background-color: #181818;
}
#bgColor1 {
  background-color: #242424;
}
#bgColor {
  background-color: #121212;
}
#bgColor3 {
  background-color: #212121;
}

/* #main-container {
  height: 100vh !important;
} */
.spotifyPlaylists {
  padding: 14px;
}
.spotifyPlaylists .card {
  width: 170px;
  height: 244px;
}
.card {
  position: relative;
}
.card img {
  border: 3px solid rgb(222, 194, 194);
  width: 100%;
  object-fit: contain;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust the size of the circle */
  height: 50px; /* Adjust the size of the circle */
  border-radius: 50%;
  background-color: #4caf50; /* Green background color */
  position: absolute;
  bottom: 70px;
  right: 10px;
  opacity: 0;
  transition: all 1s ease-out;
}

.icon {
  color: #fff; /* White color for the icon */
}
.playbar {
  width: 96%;
  padding: 15px;
  margin-left: 5px;
}
.songlists ul {
  padding: 0 12px;
}
.songlists ul li {
  list-style-type: decimal;
}
.seekbar {
  height: 4px;
  width: 97%;
  background-color: #e6d8e2fc;
  border-radius: 10px;
  /* position: absolute;
  bottom: 8px; */
  margin: 6px;
  cursor: pointer;
  /* margin-left: 4px; */
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: #e6d8e2fc;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}
.songList .info {
  font-size: 13px;
  width: 344px;
}

.info div {
  word-break: break-all;
}
.songInfo {
  width: 300px;
  padding: 2px;
}
.songTime {
  width: 300px;
  padding: 2px;
}
/* media query */
@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large screens */
}
